url=127.0.0.1
port=5000

username_superadmin=SuperAdmin
password_superadmin=SuperAdmin

username_admin=Admin
password_admin=Admin

username_user=User
password_user=User

log_path=Logs
log_level=3

# comma separated, available: ad, custom_votes, discord, echo
plugins=ad,discord
